@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Nunito:wght@400;700;900&display=swap');
.navbar-dark .navbar-nav .nav-link {
  color: #252c2e;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #252c2e;
}
body {
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.2px;
  overflow-x: hidden;
  color: #252c2e;
  font-size: 16px;
}
main {
  min-height: 80vh;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  letter-spacing: 0.2px;
  color: #252c2e;
}

h1 {
  font-size: 2.5rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.custom-btn {
  padding: 15px 40px;
  background-color: #ff4555;
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  box-shadow: 0 3.4px 14.8px rgba(0, 0, 0, 0.196),
    0 11.4px 49.8px rgba(0, 0, 0, 0.289), 0 51px 223px rgba(0, 0, 0, 0.36);
  transition: 0.3s all ease-in-out;
}

.custom-btn:hover {
  background-color: #ff5765;
}

p {
  font-size: 17px;
  line-height: 25px;
  color: #626566;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

.input {
  border: 2px solid #252c2e;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: none;
}

.input:focus {
  color: #252c2e;
  background-color: transparent;
  border-color: #252c2e;
  outline: 0;
  box-shadow: none;
}

.login_btn {
  padding: 12px 24px;
  display: block;
}

.btn-dark {
  background-color: #252c2e;
}

.btn-light:hover {
  outline: none;
  background-color: transparent;
}
.btn-light.focus,
.btn-light:focus,
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
  color: #1a1a1a;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
.btn.focus,
.btn:focus {
  box-shadow: none;
}

/* loader */
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
/* Variables */
/* Loading Icon */
.loading {
  width: 100px;
  height: 100px;
}
.loading__ring {
  position: absolute;
  width: 100px;
  height: 100px;
}
.loading__ring:first-child {
  transform: skew(30deg, 20deg);
}
.loading__ring:last-child {
  transform: skew(-30deg, -20deg) scale(-1, 1);
}
.loading__ring:last-child svg {
  animation-delay: -0.5s;
}
.loading__ring svg {
  animation: rotate 1s linear infinite;
  fill: #ff4555;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #ff5765;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.pending,
.delivered {
  padding: 8px 16px;
  background-color: #ffebed;
  color: #ff4a59;
  border-radius: 30px;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
}

.delivered {
  background-color: #ebf9f4;
  color: #42aa85;
}

select {
  padding: 1em 1.5em;
  background: #4d5061 !important;
  color: #fff !important;
  border: 0;
  
}

select:focus {
  outline: none !important;
  border-radius: none !important;
  box-shadow: none!important;
  border-color: none !important;
}
