.product_cart {
  border-radius: 50px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.008),
    0 6.7px 5.3px rgba(0, 0, 0, 0.012), 0 12.5px 10px rgba(0, 0, 0, 0.015),
    0 22.3px 17.9px rgba(0, 0, 0, 0.018), 0 41.8px 33.4px rgba(0, 0, 0, 0.022),
    0 100px 80px rgba(0, 0, 0, 0.03);
  transition: 0.4s all;
  height: 80%;
}

.product_cart:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.022),
    0 6.7px 5.3px rgba(0, 0, 0, 0.032), 0 12.5px 10px rgba(0, 0, 0, 0.04),
    0 22.3px 17.9px rgba(0, 0, 0, 0.048), 0 41.8px 33.4px rgba(0, 0, 0, 0.058),
    0 100px 80px rgba(0, 0, 0, 0.08);
}
.product_image_top {
  margin-top: -25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.product_name {
  transition: 0.4s;
}

.product_name:hover {
  color: #ff4555;
}

.product_category {
  padding: 8px 16px;
  background-color: #ffebed;
  color: #ff4a59;
  border-radius: 30px;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
}

.product_price {
  color: #ff4a59;
}
