.searchbox {
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid #ff4555;
}

.searchBtn {
  position: absolute;
  right: 6px;
  border-radius: 40px;
  background: white;
  background-color: #ff4555;
  color: #fff;
  border-color: #ff4555;
}

.form_control:focus {
  background-color: transparent;
  border-color: none;
  outline: 0;
  box-shadow: none;
}
